.container {
  padding: 50px;
  background-color: white;
  border-radius: 22px;
}

.icon {
  cursor: pointer;
}

.title_input_container {
  max-width: 300px;
}

.submitBtn {
  text-align: right;
  border-radius: 0.1px;
}

.custom_pre {
  font-family: inherit;
  font-size: inherit;
  white-space: pre-wrap;
}
